{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load friendshiptags %}


{% block content %}

	<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>
	<h1> Request Detail </h1><br>
	</div>
	</div>

	<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>

			<div class = 'row'>
			  <div class="col-sm-6 col-md-8">
			    <div class="thumbnail">
			        <p><b>Full Name: </b> {{instance.full_name}}</p>
			        <p><b>User:</b> {{instance.user}}</p>
			        <p><b>Module Requested:</b> {{instance.module_requested}}</p>
					<p><b>Contact Number:</b> {{instance.contact_number}}</p>
					<p><b>Expected Tuition Cost:</b> {{instance.expected_tuition_cost}} points</p>

			<!-- 		{% friends request.user %} -->
			    </div>
			  </div>
			</div>	

		
			<div>
				<p class = 'lead'>Comments</p>
				<form method = "POST" action = ""> {% csrf_token %}
				{{ form|crispy }}
				<input type = 'submit' value = 'Post comment' class = 'btn btn-default'>
				</form>
				<hr/>
				{% for comment in comments %}
					
					<blockquote>
  						<p>{{ comment.content }} .</p>
  						<footer>via {{ comment.user }} {{ comment.time_stamp|timesince }} ago | {% if comment.children.count > 0 %} {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s {% endif %} | {% endif %}<a class = 'comment-reply-btn' href='#'>Reply</a></footer>
	  						<div class = 'comment-reply' style ='display:none'>
	  							{% for child_comment in comment.children %}
	  								<blockquote>
	  								<p>{{ child_comment.content }} .</p>
	  								<footer>via {{ child_comment.user }} {{ child_comment.time_stamp|timesince }} ago></footer>
	  								</blockquote>
	  							{% endfor %}

		  						<form method="POST" action=""> {% csrf_token %}
									{{ form|crispy }}
									<input type = 'hidden' name = 'parent_id' value = '{{ comment.id }}'>
									<input type = 'submit' value = 'Reply' class = 'btn btn-default'>
								</form>
							</div>



<!--   						</cite></footer> -->
					</blockquote>
				<hr/>
				{% endfor %}
			</div>
	</div>
	</div>





{% endblock %}
