{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}


	<div class = 'col-sm-6 col-sm-offset-3'>
	<h1>{{title}}</h1><br>
	</div>

	<div class = 'col-sm-6 col-sm-offset-3'>
	<form method='GET' action =''>
	<div class='input-group'>
		<input type = 'text' class = 'form-control' name = 'q' placeholder="Search Tutees, Modules" value = '{{ request.get.q }}'/>
		<span class="input-group-btn">
        <button class="btn btn-info" type="submit">Search</button>
      	</span>
	</div>
	</form><br>
	</div>

	<body>
	{% for request in requests %}
	<div class = 'row'>
	  <div class="col-sm-6 col-sm-offset-3">
	    <div class="thumbnail">
	 
	        <p><b>Full Name:</b> {{request.full_name}}</p>
	        <p><b>Username:</b> {{request.user}}</p>
	        <p><b>Contact Number:</b> {{request.contact_number}}</p>
	        <p><b>Module Requested:</b> {{request.module_requested}}</p>
	        <p><b>Points Offered:</b> {{request.expected_tuition_cost}}</p>
			<center><a href = "{% url 'detail_module_request' request.id %}" class = 'btn btn-info'>Chat Now!</a></center>
	
	    </div>
	  </div>
	</div>
	{% endfor %}
	</body>

{% endblock %}
