{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

	<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>
	<h1><center>Profile</center></h1>
	{% if messages %}
	<ul class="messages">
    	{% for message in messages %}
    		<li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
	</ul>
	{% endif %}
	</div>
	</div>

	<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>
	<form method='POST' action=''>{% csrf_token %}
	{{form|crispy}}

	<input class = 'btn btn-info' type = 'submit' value = 'Save'/>

	</form>
	<br>
	</div>
	</div>

{% endblock %}
