{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

	<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>
	<h1><center>Profile</center></h1>
	{% if messages %}
		<div class="alert alert-success">
    	{% for message in messages %}
    	<strong>Success!</strong> {{ message }}
    	{% endfor %}
    	</div>
	{% endif %}
	</div>
	</div>

	<div class = 'row'>
	<div class = 'col-sm-6 col-sm-offset-3'>
	<form method='POST' action=''>
	{% csrf_token %}
	{{form|crispy}}

	<input class = 'btn btn-info' type = 'submit' value = 'Save'/>

	</form>
	<br>
	</div>
	</div>

{% endblock %}
